<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.CaloryMapper">

  <update id="join" parameterType="Calory" >
  	insert into CALORY values(#{eat_date}, #{eat_cal}, #{user_id},sysdate)
  </update>

	<select id="daycalory" parameterType="String" resultType="Calory">
		SELECT *
		FROM (
		    SELECT c1.*
		    FROM calory c1
		    JOIN (
		        SELECT eat_date, MAX(created_date) AS max_created_date
		        FROM calory
		        WHERE user_id = #{user_id}
		        GROUP BY eat_date
		    ) c2 ON c1.eat_date = c2.eat_date AND c1.created_date = c2.max_created_date
		    WHERE c1.user_id = #{user_id}
		)
		ORDER BY eat_date asc

	 
		</select>
 
  </mapper>