<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.DietMapper">

  <insert id="add" parameterType="Diet">
    INSERT INTO diet_info VALUES 
    (diet_idx.nextval,#{user_id},#{food_name},#{intake_weight},#{intake_calory},#{eat_date})
  </insert>
  
  	<select id="dietList" parameterType="Diet" resultType="Diet">
		select diet_idx,food_name,intake_calory,eat_date from diet_info where user_id=#{user_id} and eat_date=#{eat_date}
	</select>
  
  
  	<delete id="deleteDiet">
		delete from diet_info where diet_idx=#{diet_idx}
	</delete>
  
  
</mapper>