<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.GroupMapper">
  
  <insert id="join" parameterType="Group" >
  	insert into group_info values
  	(group_idx.NEXTVAL, #{user_id},#{group_name},#{group_info},#{group_limit},sysdate,#{group_status})
  </insert>
  
  <select id="groupList" resultType="Group" parameterType="String">
  	select * from group_info where user_id=#{user_id} 
  </select>
  
  <select id="AllgroupList" resultType="Group" parameterType="String">
  	select * from group_info 
  </select>

<select id="SearchGroupIdx" resultType="Group" parameterType="String">
	select * from group_info where 
</select>
  
  
</mapper>