<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.db.MessageMapper">

  <insert id="insertMessage" parameterType="Message">
    INSERT INTO chatting_info VALUES(chatting_info_idx.NEXTVAL,#{group_name},#{chatter},#{chating},sysdate);
  </insert>
</mapper>