<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.ScheduleMapper">
  
  <insert id="join" parameterType="Schedule" >
  	insert into athletics_plan_info values(plan_idx.nextval, #{user_id},#{ath_date},#{ath_time},#{ath_type},#{ath_duration},sysdate,#{ath_done},#{ath_reward})
  </insert>
  
</mapper>